<div class="container mt-5">
    <h3 class="text-center" style="color: #254635;">Administración de Materiales</h3><br>

    <!-- Barra de búsqueda -->
    <div class="row mb-3">
        <div class="col-md-3 mx-auto">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="filterMaterials()"
                placeholder="Buscar ..." style="max-width: 300px;" />
        </div>
    </div>

    <!-- Botón Registrar -->
    <div class="row mb-3">
        <div class="col-md-12 text-end">
            <button class="btn btn-success" (click)="open(registroModal)">Registrar</button>
        </div>
    </div>

    <!-- Tabla de materiales -->
    <table class="table table-bordered">
        <thead class="bg-dark text-light">
            <tr>
                <th>Nombre</th>
                <th>Nombre para la Venta</th>
                <th>Unidad de Medida</th>
                <th>Stock Actual</th>
                <th>Costo Promedio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let material of filteredMaterials">
                <td>{{ material.nombre }}</td>
                <td>{{ material.nombreVenta }}</td>
                <td>{{ material.unidadMedida }}</td>
                <td>{{ material.stockActual }}</td>
                <td>{{ material.costoPromedioActual }}</td>
                <td>
                    <button class="btn btn-warning me-2" (click)="editMaterial(material)">Editar</button>
                    <button class="btn btn-danger" (click)="openDeleteConfirmation(material)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
</div>

<!-- Modal para registrar material -->
<ng-template #registroModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="registroModalLabel">Registrar Nuevo Material</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <!-- Formulario de registro -->
        <form (ngSubmit)="registrarMaterial()">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre" required />
            </div>
            <div class="mb-3">
                <label for="nombreVenta" class="form-label">Nombre para la Venta</label>
                <input type="text" class="form-control" id="nombreVenta" [(ngModel)]="nombreVenta" name="nombreVenta" required />
            </div>
            <div class="mb-3">
                <label for="unidadMedida" class="form-label">Unidad de Medida</label>
                <select class="form-control" id="unidadMedida" [(ngModel)]="selectedMaterial.unidadMedida"
                    name="unidadMedida" required>
                    <option value="" disabled selected>Seleccione una unidad</option>
                    <option value="Unidad">Unidad</option>
                    <option value="Paquete">Paquete</option>
                </select>
            </div>

            <div *ngIf="successMessage" class="alert alert-success">
                {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Cerrar</button>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Modal de confirmación para eliminar material -->
<ng-template #confirmDeleteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>¿Está seguro de que desea eliminar este material?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete(modal)">Eliminar</button>
    </div>
</ng-template>

<!-- Modal de Edición de Material -->
<ng-template #editMaterialModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editMaterialModalLabel">Editar Material</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <!-- Formulario de edición -->
        <form (ngSubmit)="updateMaterial()">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="selectedMaterial.nombre" name="nombre"
                    required />
            </div>
            <div class="mb-3">
                <label for="nombreVenta" class="form-label">Nombre para la Venta</label>
                <input type="text" class="form-control" id="nombreVenta" [(ngModel)]="selectedMaterial.nombreVenta" name="nombreVenta" required />
            </div>
            <div class="mb-3">
                <label for="unidadMedida" class="form-label">Unidad de Medida</label>
                <select class="form-control" id="unidadMedida" [(ngModel)]="selectedMaterial.unidadMedida"
                    name="unidadMedida" required>
                    <option value="" disabled selected>Seleccione una unidad</option>
                    <option value="Unidad">Unidad</option>
                    <option value="Paquete">Paquete</option>
                </select>
            </div>

            <div *ngIf="successMessage" class="alert alert-success">
                {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Cerrar</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</ng-template>