/* Sección Preguntas */
.seccion-faq {
  background-color: #f4f0e4;
}

.main-color {
  color: #254635;
}

.accordion-button {
  background-color: white;
  font-weight: bold;
  color: #000;
}

.accordion-button:not(.collapsed) {
  background-color: #e8e6dd;
  color: #254635;
}

.accordion-body {
  font-size: 0.95rem;
  color: #333;
}

/* Sección Comentarios */
.comentario-card {
  background-color: #f4f0e4;
  border-radius: 8px;
  color: #333;
  height: 100%;
}

.estrellas {
  color: #254635;
  font-size: 1.2rem;
}
