/* Estilo de la tabla y el modal */
.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.table th {
  background-color: #254635;
  color: white;
}

.table td {
  background-color: #F4F0E4;
}

/* Estilo para el botón de Comprar */
.btn-success {
  background-color: #254635;
  border: none;
}

/* Estilo para el modal */
.modal-header {
  background-color: #254635;
  color: white;
}

.modal-footer .btn-secondary {
  background-color: #F4F0E4;
  color: #254635;
}

/* Estilo para el botón de agregar material */
.btn-info {
  background-color: #254635;
  border-color: #254635;
  color: white;
}

.btn-info:hover {
  background-color: #41554b;
  border-color: #254635;
}

/* Estilo para el botón de eliminar */
.btn-danger {
  margin-left: 10px; 
}

